{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<div class="body-content">
    <div class="container">
        <div class="terms-conditions-page">
            <div class="row">
                <div class="col-md-12 terms-conditions">
                    <h2 class="heading-title">Телеграм каналы</h2>
                    <div class="">
                        <h3>Вся информация по товарам автоматически дублируется:</h3>
                        <p>Мужская верхняя одежда: <a href="https://telegram.me/WSS_shirt_m" target="_blank">@WSS_shirt_m</a></p>
                        <p>Мужская обувь: <a href="https://telegram.me/WSS_shoes_m" target="_blank">@WSS_shoes_m</a></p>
                        <p>Женская верхняя одежда: <a href="https://telegram.me/WSS_shirt_w" target="_blank">@WSS_shirt_w</a></p>
                        <p>Женская обувь: <a href="https://telegram.me/WSS_shoes_w" target="_blank">@WSS_shoes_w</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}